.auth-layout-container {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background-image: linear-gradient(to right,
      #d1fae5,
      #c7d2fe,
      #f3e8ff);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}